node_modules/
.expo/

coverage/

.*.swp
.idea/
.DS_Store
.cache/
.tern-project
.vscode/
npm-debug.*
jsconfig.json
sauce.json
_lint/

yarn-error.log
package-lock.json

*.jks
*.p12
*.key
*.mobileprovision
